<!-- dryver_django\templates\map\topbar.html -->
<div
  id="inspect-point-component"
  class="d-flex flex-column justify-content-center esri-component esri-widget"
>
  <div
    id="inspectButton"
    class="d-flex align-items-center esri-widget--button inspect-point-button"
    title="Get report of any point"
  >
    <span class="esri-icon-applications"></span>
  </div>
</div>
<div
  id="distance-measurement-component"
  class="d-flex flex-column justify-content-center esri-component esri-widget"
>
  <div
    id="distanceButton"
    class="d-flex align-items-center esri-widget--button distance-measurement-button custom-topbar-buttons"
    title="Measure distance between two or more points"
  >
    <span class="esri-icon-measure-line"></span>
    <!-- <span class="esri-icon-minus"></span> -->
  </div>
</div>
<div
  id="area-measurement-component"
  class="d-flex flex-column justify-content-center esri-component esri-widget"
>
  <div
    id="areaButton"
    class="d-flex align-items-center esri-widget--button area-measurement-button custom-topbar-buttons"
    title="Measure area"
  >
   <span class="esri-icon-measure-area"></span>
   <!-- <span class="esri-icon-polygon"></span> -->
  </div>
</div>
