<!-- dryver_django\templates\map\topbar.html -->
<div id="topbar">
  <button
    id="distanceButton"
    class="action-button distance-measurement-button esri-icon-minus"
    type="button"
    title="Measure distance between two or more points"
    data-hint="Measure distance between two or more points"
  ></button>
  <br>
  <button
    id="areaButton"
    class="action-button area-measurement-button esri-icon-polygon"
    type="button"
    title="Measure area"
    data-hint="Measure area"
  ></button>
</div>
