<!-- dryver_django\templates\index.html -->
{% extends 'base.html' %}
{% load staticfiles %}
<!-- {% comment 'old contents' %} -->
{% block sheets %}
<link
  href="{% static 'css/arcgis_map.css' %}"
  rel="stylesheet"
>
{% endblock %}
<!-- {% endcomment %} -->
{% block content %}
<!-- {% comment 'old contents' %} -->
{% include 'map/topbar.html' %}
{% include 'map/inspect.html' %}
{% include 'map/map.html' %}
{% include 'need-to-decoupled.html' %}
<!-- {% endcomment %} -->

{% endblock %}
<!-- {% comment 'old contents' %} -->
{% block scripts %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script
  type="text/javascript"
  src="{% static 'js/arcgis_map.js' %}"
></script>
<!-- Using this because the classes in above button don't let it happen -->
<script type="text/javascript">
  var currently_opened = ''
  $('.Windy').click(function(evt){
    evt.stopImmediatePropagation();
    window.location = "{% url 'Windy' %}";
  });
  $('.logout').click(function(evt){
    evt.stopImmediatePropagation();
    window.location = "{% url 'logout' %}";
  });

  // if a tab item is clicked, check if profile_closed is there, remove it and update the currently_opened
  // otherwise check currently_opened, if it is clicked again, remove active from both the items and add profile_closed and remove currently_opened
  $('.gradientmenu').click(function(){
    if (currently_opened == ''){
    currently_opened = $(this).attr('data-name');
    $('.side-bar').removeClass('profile_closed');
  }
  else {
    var now_clicked = $(this).attr('data-name');
    if (now_clicked == currently_opened){
      $('.side-bar').addClass('profile_closed');
      // Next line isn't working, do something to fix it
      $(this).removeClass('active');
      currently_opened = ''
    }
    else {
      currently_opened = now_clicked;
    }
  }
  });
  // Open 'jump to location' on load
  $( document ).ready(function(){
    $('.jump-to-loc').click();
  });
  tippy('#jump-to-loc-icon', {
    content: 'Jump to any location (Latitude/Longitude) on the map',
    size: 'large'
  });

  tippy('#pdf-report-form', {
    content: 'Generate PDF Reports',
    size: 'large'
  });

  tippy('#windy-button', {
    content: 'Check Windy Weather',
    size: 'large'
  });

  tippy('#logout', {
    content: 'Signout',
    size: 'large'
  });

  // the hints won't change location after topbar has been added to the map, need to fix this
  // introJs().addHints();
</script>

<!-- Continue from adding tipy hints -->
{% endblock %}
<!-- {% endcomment %} -->
