<!-- dryver_django\templates\tabs\tab2.html -->
<div
  id="tab2"
  class="tab"
>
  <h5 class="cat">
    Datasets
  </h5>
  <ul class="catalog">
    {% for dataset in datasets %}
    <li class="{{ dataset.layer }}-layer">
      <a href="#">{{ dataset.title }}<span><label class="switch"><input
        class="layer-toggle"
        data-id="{{ dataset.id }}"
        data-layer="{{ dataset.layer }}"
        value="{{ dataset.visible }}"
        type="checkbox"
      ><span class="slider round"></span></label></span></a>
    </li>
    {% endfor %}
  </ul>
</div>
