<!-- dryver_django\templates\tabs\tab3.html -->
<div
  id="tab3"
  class="tab"
>
  <h5 class="cat">
    DryVER
  </h5>
  <ul class="catalog">
    <!-- <li class="drop-down" data-target="abiotic-layer"><a href="#" class="activepoint">Abiotic<span><i class="fas fa-angle-down"></i></span></a></li> -->
    <!-- <li class="abiotic-layer hide"><a href="#">Aspect<span><label class="switch"><input class="layer-toggle" data-id="3" data-layer="abiotic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li class="abiotic-layer hide"><a href="#">Slope<span><label class="switch"><input class="layer-toggle" data-id="4" data-layer="abiotic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li class="abiotic-layer hide"><a href="#">GNS Geology<span><label class="switch"><input class="layer-toggle" data-id="2" data-layer="abiotic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li class="abiotic-layer hide"><a href="#">GNS Ice/Snow<span><label class="switch"><input class="layer-toggle" data-id="1" data-layer="abiotic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li class="abiotic-layer hide"><a href="#">LiDAR Hillshade<span><label class="switch"><input class="layer-toggle" data-id="5" data-layer="abiotic" type="checkbox"><span class="slider round"></span></label></span></a></li> -->
    <!-- <li class="abiotic-layer hide"><a href="#">McMurdo ASMA<span><label class="switch"><input class="layer-toggle" data-id="-1" data-layer="mcmurdo asma" type="checkbox" checked><span class="slider round"></span></label></span></a></li> -->
    <!-- <li class="abiotic-layer hide"><a href="#">ASPA/Management Zones<span><label class="switch"><input class="layer-toggle" data-id="-1" data-layer="antarctic managed area" type="checkbox" checked><span class="slider round"></span></label></span></a></li> -->
    <!-- <li class="abiotic-layer hide"><a href="#">SCAR Placenames<span><label class="switch"><input class="layer-toggle" data-id="0" data-layer="asma" type="checkbox"><span class="slider round"></span></label></span></a></li> -->
    {% for layers in dryver_layers %}
    <li
      class="drop-down"
      data-target="{{ layers.key }}-layer"
    >
      <a
        href="#"
        class="activepoint"
      >{{ layers.name }}<span><i class="fas fa-angle-down"></i></span></a>
    </li>
    {% for layer in layers.layers %}
    <li class="{{ layers.key }}-layer hide">
      <a href="#">{{ layer.name }}<span><label class="switch"><input
        class="layer-toggle"
        data-id="{{ layer.id }}"
        data-layer="{{ layer.layer }}"
        type="checkbox"
      ><span class="slider round"></span></label></span></a>
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
