<!-- dryver_django\templates\tabs\tab4.html -->
<!-- {% comment 'old contents' %} -->
<!-- <div id="tab4" class="tab">
  <h5 class="cat">Tools</h5>
  <ul class="catalog">
    <li><a href="#">Internet cafe<span><label class="switch"><input class="layer-toggle" data-id="1" data-layer="aquatic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li><a href="#">Dota<span><label class="switch"><input class="layer-toggle" data-id="1" data-layer="aquatic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li><a href="#">Chempions<span><label class="switch"><input class="layer-toggle" data-id="1" data-layer="aquatic" type="checkbox"><span class="slider round"></span></label></span></a></li>
    <li><a href="#" class="activepoint">Video game centre<span><label class="switch"><input class="layer-toggle" data-id="1" data-layer="aquatic" type="checkbox"><span class="slider round"></span></label></span><p class="arrow"></p>
    </a></li>
    <li><a href="#">Classic game<span><label class="switch"><input class="layer-toggle" data-id="1" data-layer="aquatic" type="checkbox"><span class="slider round"></span></label></span></a></li>
  </ul>
</div> -->
<!-- Removing from here because the export tool will go inside popup -->
<!-- <div id="tab4" class="tab">
  <h5 class="cat">PDF Report Form</h5>
  <form method="POST">
    {% csrf_token %}
    <span class="form-group">
      <label>{{ pdf_report_form.programme.label }}:</label>
      {% render_field pdf_report_form.programme class+="form-control" %}
    </span>
    <span class="form-group">
      <label>{{ pdf_report_form.event_number.label }}:</label>
      {% render_field pdf_report_form.event_number class+="form-control" %}
    </span>
    <span class="form-group">
      <label>{{ pdf_report_form.event_field_leader.label }}:</label>
      {% render_field pdf_report_form.event_field_leader class+="form-control" %}
    </span>
    <span class="form-group">
      <label>{{ pdf_report_form.field_manager.label }}:</label>
      {% render_field pdf_report_form.field_manager class+="form-control" %}
    </span>
    <span class="form-group">
      <label>{{ pdf_report_form.institution.label }}:</label>
      {% render_field pdf_report_form.institution class+="form-control" %}
    </span>
    <span class="form-group">
      <label>{{ pdf_report_form.location.label }}:</label>
      {% render_field pdf_report_form.location class+="form-control" %}
    </span>
    <span class="form-group">
      <label>{{ pdf_report_form.date_of_event.label }}:</label>
      {% render_field pdf_report_form.date_of_event class+="form-control" data-date-format="yyyy-mm-dd" data-provide+="datepicker" %}
    </span>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->
<!-- {% endcomment %} -->
