{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dryver: McMurdo Dry Valleys Environmental Data Portal - Logged out</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/Logo.png' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
        <div class="container">
  
            <div class="row" id="pwd-container">
                <div class="col-md-4"></div>
                
                <div class="col-md-4">
                <section class="login-form">
                    <form method="post" role="login">
                        {%csrf_token%}
                        <center><h2>Logged out</h2></center>
                    
                    
                    </form>
                    
                    <div class="form-links">
                        <a href="{% url 'login' %}">Login again</a>
                    </div>
                </section>  
                </div>
                
                <div class="col-md-4"></div>
                
            
            </div>   
            
            
        </div>
    
</body>
</html>>