{% extends 'base.html' %}
{% load static %}
{% block sheets %}
<link
  rel="stylesheet"
  href="{% static 'css/login.css' %}"
>
{% endblock %}
{% block title %}
Dryver: McMurdo Dry Valleys Environmental Data Portal - Logged out
{% endblock %}
{% block content %}
<div class="body w-100 h-100"></div>
<div class="grad w-100 h-100"></div>
<div class="container-fluid d-flex flex-column mh-100 h-100 justify-content-center overflow-auto">
  <div class="row mh-100 justify-content-center">
    <form
      class="form-login col-12 p-5"
      method="post"
      role="login"
    >
      {% csrf_token %}
      <div class="form-row justify-content-center align-items-center">
        <img class="logo" src="{% static 'img/logo.png' %}">
        <h2>Logged out</h2>
      </div>
    </form>  
    <div class="col-12 d-flex justify-content-center">  
      <small class="py-3">
        <a class="text-light" href="{% url 'login' %}">Login again</a>
      </small>
    </div>
  </div>
</div>
{% endblock %}
